$color-white:         #fafafa !default;
$color-white--light:  rgba(#fff, 0.25) !default;

$color-black:         #343434 !default;

$color-magenta:       #120755 !default;

$color-blue:          #0060ff !default;
