$font-family--primary: "Poppins", "Helvetica Neue", "Arial", sans-serif !default;
$font-family--secondary: "Playfair Display", "Times New Roman", Times, serif !default;

$font-size: 100% !default;

$line-height: 1.8 !default;
$line-height--headings: 1.2 !default;

$font-weight--regular: 400 !default;
$font-weight--semi-bold: 600 !default;

$font-size: rem(16) !default;
$font-size--medium: rem(18) !default;
$font-size--small: rem(14) !default;

$type-margin: rem(20) !default;
